<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<title>LandingPage</title>
</head>

<body>
	<div id="navbar"></div>

	<div id="container">

		<div id="jumbotron">
            <h1 class="title"></h1>
            <p class="text"></p>
            <button class="button"></button>
        </div>

        <div id="cards">
            <div id="card1">
            <img class="cardImage1" href="" src="" height="325" width="500">
                <h2 class="cardTitle1"></h2>
                <p class= "cardText1"> </p>
                </hr>
                <button class="button1" href="" src=""></button>
            </div>

            <div class="card2">
            <img class="cardImage2" href="" src="" height="325" width="500">
              <h2 class="cardTitle2"></h2>
                <p class= "cardText2"> </p>
                </hr>
                <button class="cardButton2" href="" src=""></button>
            </div>

            <div class="card3">
             <img class="cardImage3" href="" src="" height="325" width="500">
              <h2 class="cardTitle3"></h2>
                <p class= "cardText3"> </p>
                </hr>
                <button class="cardButton3" href="" src=""></button>
            </div>

            <div class="card4">
            <img class="cardImage4" href="" src="" height="325" width="500">
              <h2 class="cardTitle4"></h2>
                <p class= "cardText4"> </p>
                <hr/>
                <button class="cardButton4" href="" src=""></button>
            </div>
        </div>
	</div>
	<div class="footer"></div>

	<script src="index.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
</body>

</html>